<footer id="footer mb-5 mt-5">
    <div class="container-fluid p-5 mt-5 bg-dark text-light ">
        <div class="row  ms-auto">
            <div class="col-lg-6">
                <p>Hire Lab IT Service</p>
                <h4 class="text-danger">Headquarters</h4>
                <p>Ambe Bhakti CHS, <br> Shop No 13, Plot No.97, Sec-05, Ghansoli, Navi Mumbai - 400701 <br> Mob No:
                    8169754483 / 9967120080</p>
            </div>

            <div class="col-lg-6">
                <h5 class="text-danger">Social Media</h5>

                <div class="icon-link d-flex">
                    <a href="#">
                        <i class="fa-brands fa-facebook"></i>
                    </a>  

                    <a href="#" class="mx-2">
                        <i class="fa-brands fa-twitter"></i>
                    </a>

                    <a href="#" class="mx-2">
                        <i class="fa-brands fa-youtube"></i>
                    </a>

                    <a href="#">
                        <i class="fa-brands fa-linkedin"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-info mt-4">
        <p> Copyrights © <b style="color: blue;"><span style="color: #68A224;">SmartHire</span> Solutions</b> All Rights Reserved. Design & Developed
            By:<b style="color: blue;"> CI Services</b><br>
            General Disclaimer Privacy Policy Terms of Use Trademarks URL Counter BACK TO TOP</p>
    </div>
</footer>