<section class="about">
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-content">
                    <span class="h5">FROM HIRE LAB IT SERVICES, GREETINGS</span>
                    <h1> <b>About</b> <br> <b style="color: brown;">Us</b></h1>
                    <p>At SmartHire Solutions, we take pride in providing excellent employment solutions that are
                        tailored to satisfy the shifting demands of the modern IT industry. Our unwavering
                        commitment to quality allows us to connect you with the greatest and most knowledgeable IT
                        professionals, ensuring that your projects are not only completed but also upgraded to the
                        highest standards.
                    </p>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="icon text-center p-3">
                                <img src="assets/Images/icons8-hourglass-64.png" class="img-fluid" width="70px" alt="">
                                <h4 class="text p-1">MISSION</h4>
                                <span class="text p-1">To ensure excellence in the recruitment process and help both
                                    companies and professionals increase their growth and productivity through our
                                    strategic HR solutions.</span>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="icon text-center p-3">
                                <img src="assets/Images/icons8-growth-64.png" width="70px" alt="">
                                <h4 class="text p-1">VISION</h4>
                                <span class="text p-1">To add values for our clients and professionals and make work
                                    life simpler and more productive.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-img">
                    <img src="assets/Images/about img.jpg" alt="error" class="img-fluid" height="550px" width="700px">
                </div>
            </div>
        </div>
    </div>
</section>