<section class="service">
    <h1 class="text-center mt-3 pt-3 " style="line-height: 50px;"> <b style="color:brown;  ">OUR</b> <b
            style="color: rgb(65, 63, 63);">SERVICES</b></h1>
    <div class="container mt-5">
        <div class="row ">
            <div class="col-lg-4 ">
                <div class="card mb-3">
                    <div class="row ">
                        <div class="col-lg-4">
                            <img src="assets/Images/teamwork.png" class="mt-3 mx-3" width="50px" alt="">
                        </div>
                        <div class="col-lg-8 ">
                            <h4 class="mx-2">HR Consultant</h4>
                            <p class="mx-2">We evaluate and identify human capital inefficiencies.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card mb-3">
                    <div class="row">
                        <div class="col-lg-4">
                            <img src="assets/Images/puzzle.png" class="mt-3 mx-3" width="50px" alt="">
                        </div>
                        <div class="col-lg-8">
                            <h4 class="mx-2">Training</h4>
                            <p class="mx-2">Training module in accordance to seniority and learning ability. </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card mb-3  ">
                    <div class="row  ">
                        <div class="col-lg-4">
                            <img src="assets/Images/icons8-campus-64.png" class="mt-3 mx-3" width="50px" alt="">
                        </div>
                        <div class="col-lg-8">
                            <h4 class="mx-2">Campus </h4>
                            <p class="mx-2">Campus placement services for both companies.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card card-4 car mb-3 ">
                    <div class="row">
                        <div class="col-lg-4">
                            <img src="assets/Images/icons8-networking-64.png" class="mt-3 mx-3" width="50px" alt="">
                        </div>
                        <div class="col-lg-8">
                            <h4 class="mx-2">Manpower</h4>
                            <p class="mx-2">We keep in mind your financial strata and the urgency of the position.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card mb-3 ">
                    <div class="row">
                        <div class="col-lg-4">
                            <img src="assets/Images/icons8-chess-64.png" class="mt-3 mx-3" width="50px" alt="">
                        </div>
                        <div class="col-lg-8 text-start">
                            <h4 class="mx-2">Talent Acquisition</h4>
                            <p class="mx-2">Committed to finding out the top-notch candidates. with the help of our
                                systematic.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card mb-3  ">
                    <div class="row">
                        <div class="col-lg-4">
                            <img src="assets/Images/multiple people.png" class="mt-3 mx-3" width="50px" alt="">
                        </div>
                        <div class="col-lg-8 text-start">
                            <h4 class="mx-2">Post Coordination</h4>
                            <p class="mx-2">Regular feedback from the client company about the work in employee.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="service-count">
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-lg-3">
                <div class=" text-center mt-5">
                    <img src="assets/Images/people.png" width="70px" alt="Title">
                    <div class="body mt-3">
                        <h5 class="text-secondary">The right people</h5>
                        <p class="p-3 text-danger">Quickly cultivate optimal processes and tactical architectures.
                            Completely iterate covalent strategic theme.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class=" text-center mt-5">
                    <img src="assets/Images/icons-puzzle.png" width="70px" alt="Title">
                    <div class="body mt-3">
                        <h4 class="text-secondary">A correct fit</h4>
                        <p class="p-3 text-danger">Precisely disseminate superior deliverables whereas web-enabled
                            application architectures.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class=" text-center mt-5">
                    <img src="assets/Images/icons8-people-64.png" width="70px" alt="Title">
                    <div class="body mt-3">
                        <h4 class="text-secondary">People Staying</h4>
                        <p class="p-3 text-danger">Continually reintermediate integrated processes through technically
                            sound intellectual capital.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class=" text-center mt-5">
                    <img src="assets/Images/positive-dynamic.png" width="70px" alt="Title">
                    <div class="body mt-3">
                        <h4 class="text-secondary">Further progress</h4>
                        <p class="p-3 text-danger">Dramatically disseminate standardized metrics after resource leveling
                            processes</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>