<section class="home pt-5 overflow-hidden">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">

        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="home-banner home-banner-1 mt-5">
                    <div class="home-banner-text mx-5">
                        <p> HR IS ALL ABOUT PEOPLE</p>
                        <h1>The Right People</h1>
                        <h1>For Your Team</h1>
                        <a href="contact.html" class="btn btn-danger text-uppercase mt-4">Contact Us</a>
                        <a href="service.html" class="btn btn-dark text-uppercase mt-4">View Job</a>
                    </div>
                </div>
            </div>

            <div class="carousel-item">
                <div class="home-banner home-banner-2 mt-5">
                    <div class="home-banner-text mx-5">
                        <p>TODAY'S TALENT, TOMORROW'S SUCCESS</p>
                        <h1 class="text-dark">The Right People</h1>
                        <h1 class="text-dark">For Your Team</h1>
                        <a href="contact.html" class="btn btn-danger text-uppercase mt-4">Contact Us</a>
                        <a href="service.html" class="btn btn-dark text-uppercase mt-4">View Job</a>
                    </div>
                </div>
            </div>

            <div class="carousel-item">
                <div class="home-banner home-banner-3 mt-5">
                    <div class="home-banner-text mx-5">
                        <P class="text-light">SUCCESS THROUGH PEOPLE</P>
                        <h1>Value your people</h1>
                        <h1>Think JobsWayIndia</h1>
                        <a href="contact.html" class="btn btn-danger text-uppercase mt-4">Contact Us</a>
                        <a href="service.html" class="btn btn-dark text-uppercase mt-4">View Job</a>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true">
                <!-- <span class="slider-icon"><i class="fa-solid fa-angle-left"></i></span> -->
            </span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true">
                <!-- <span class="slider-icon"><i class="fa-solid fa-angle-right"></i></span> -->
            </span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>