.home .home-banner-1 {
    background-image: url("src\assets\Images\home banner img 3.jpg");

}

.home .home-banner-2 {
    background-image: url("src\assets\Images\home banner img2.jpg");
}

.home .home-banner-3 {
    background-image: url("src\assets\Images\home banner img1.jpg");
}

.home .home-banner-1,
.home .home-banner-2,
.home .home-banner-3 {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh; 
}

.home .home-banner-text{
   position: relative;
   top: 290px;
}

.home .home-banner-text p{
    font-weight: 700;
}

.home .home-banner-text h1{
    /* font-size: 50px; */
    font-weight: 700;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.home .btn{
    border-radius: 25px;
}
